<a href="https://colab.research.google.com/github/payelmiah/Advance-Python-for-Analyst/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning**

**Where To Start?**

In this tutorial we will go back to mathematics and study statistics, and how to calculate important numbers based on data sets.

We will also learn how to use various Python modules to get the answers we need.

And we will learn how to make functions that are able to predict the outcome based on what we have learned.

**Data Types**

To analyze data, it is important to know what type of data we are dealing with.

We can split the data types into three main categories:

Numerical

Categorical

Ordinal

Numerical data are numbers, and can be split into two numerical categories:

Discrete Data
- counted data that are limited to integers. Example: The number of cars passing by.
Continuous Data
- measured data that can be any number. Example: The price of an item, or the size of an item
Categorical data are values that cannot be measured up against each other. Example: a color value, or any yes/no values.

Ordinal data are like categorical data, but can be measured up against each other. Example: school grades where A is better than B and so on.

By knowing the data type of your data source, you will be able to know what technique to use when analyzing them.

You will learn more about statistics and analyzing data in the next chapters.

**Mean, Median, and Mode**

What can we learn from looking at a group of numbers?

In Machine Learning (and in mathematics) there are often three values that interests us:

Mean - The average value

Median - The mid point value

Mode - The most common value

Example: We have registered the speed of 13 cars:

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

**Mean**

The mean value is the average value.

To calculate the mean, find the sum of all values, and divide the sum by the number of values:

(99+86+87+88+111+86+103+87+94+78+77+85+86) / 13 = 89.77

Use the NumPy mean() method to find the average speed:

In [1]:
import numpy as np
speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
x=np.mean(speed)
print(x)

89.76923076923077

**Median**

The median value is the value in the middle, after you have sorted all the values:

77, 78, 85, 86, 86, 86, **87**, 87, 88, 94, 99, 103, 111

In [2]:
import numpy as np
speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
x=np.median(speed)
print(x)

87.0

If there are two numbers in the middle, divide the sum of those numbers by two.

77, 78, 85, 86, 86, 86, 87, 87, 94, 98, 99, 103

(86 + 87) / 2 = 86.5

In [3]:
import numpy

speed = [99,86,87,88,86,103,87,94,78,77,85,86]

x = numpy.median(speed)

print(x)

86.5

**Mode**

The Mode value is the value that appears the most number of times:

![image.png]()

In [4]:
from scipy import stats
speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
x=stats.mode(speed)
print(x)

ModeResult(mode=np.int64(86), count=np.int64(3))

# **Standard Deviation**