<a href="https://colab.research.google.com/github/payelmiah/Advance-Python-for-Analyst/blob/main/Python_Basic_Courses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello"); print("No"); print("Yes")

Hello
No
Yes

In [ ]:
print("Hello World!", end=" ")
print("I am learning Python.", end=" ")
print("It is awesome!")

Hello World! I am learning Python. It is awesome!

Type

In [ ]:
x=str("a")
y=int(5)
z=float(5.5)
print(x,y,z)

a 5 5.5

In [ ]:
x,y,z = 4,"apple",5.5; a=b=c="banana"
print(x,y,z,a)

4 apple 5.5 banana

In [ ]:
b = "Hello, World!"
print(b[-7:-1])

 World

List/tupple/sets/dictionary

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
if 'banana' in thislist:
  print("Yes, 'banana' thislist")
else:
  print("No, 'banana' in thislist")

Yes, 'banana' thislist

In [ ]:
thislist[1:3]="jakfruit","watermalon"
print(thislist)

['apple', 'jakfruit', 'watermalon', 'jakfruit', 'watermalon', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist.insert(1,"pinaple")
thislist.append("abc")
thislist.extend(['grape', 'fig'])
print(thislist)

['apple', 'pinaple', 'pinaple', 'jakfruit', 'watermalon', 'jakfruit', 'watermalon', 'orange', 'kiwi', 'melon', 'mango', 'abc']

### Example of `thislist.extend()` with a tuple

This code demonstrates how to extend a list by adding elements from a tuple. Each element of the tuple will be added individually to the end of the list.

In [ ]:
thislist = ['apple', 'banana', 'cherry']
my_tuple = ('grape', 'kiwi')
thislist.extend(my_tuple)
print(thislist)

['apple', 'banana', 'cherry', 'grape', 'kiwi']

In [ ]:
thislist.remove("banana")
print(thislist)
thislist.pop()
print(thislist)
del thislist[0]
print(thislist)
thislist.clear()
print(thislist)

['apple', 'cherry', 'grape', 'kiwi']
['apple', 'cherry', 'grape']
['cherry', 'grape']
[]

In [ ]:
from IPython.core.prefilter import EmacsHandler
list1 = [1,2,3,4,5,6]
for i in list1:
  print(i, end=" ")

1 2 3 4 5 6

In [ ]:
for i in range(len(list1)):
  print(list1[i], end="")

123456

In [ ]:
lst=[9,8,7,6,5,4,3,2,1]
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
lst2=lst.copy()
print(lst2)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
i=0
while i<len(lst2):
  print(lst2[i], end="")
  i=i+1

987654321

**Append**

In [ ]:
[print(i,end="") for i in lst2]

987654321

[None, None, None, None, None, None, None, None, None]

In [ ]:
lst3=["mango","pinaple","cherry", "banana", "kiwi"]
lst4=[]
for x in lst3:
  if "a" in x:
    lst4.append(x)
print(lst4)

['mango', 'pinaple', 'banana']

In [ ]:
lst5=[x for x in lst3 if "a" in x]
print(lst5)

['mango', 'pinaple', 'banana']

In [ ]:
lst6=[x for x in lst3 if x!="mango"]
print(lst6)

['pinaple', 'cherry', 'banana', 'kiwi']

In [ ]:
lst7 = [x for x in lst3]
print(lst7)

['mango', 'pinaple', 'cherry', 'banana', 'kiwi']

In [ ]:
lst8=[x for x in range(10)]
print(lst8)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lst9 = [x for x in range(10) if x<5]
print(lst9)

[0, 1, 2, 3, 4]

In [ ]:
lst10 = [x.upper() for x in lst7]
print(lst10)

['MANGO', 'PINAPLE', 'CHERRY', 'BANANA', 'KIWI']

In [ ]:
lst11 = [x.lower() for x in lst10]
print(lst11)

['mango', 'pinaple', 'cherry', 'banana', 'kiwi']

In [ ]:
lstt = ["abc","dtw","uyt"]
lst12 = ["apple" for x in lstt]
print(lst12)

['apple', 'apple', 'apple']

In [ ]:
newlst = [x if x!="cherry" else "orange" for x in lst11]
print(newlst)

['mango', 'pinaple', 'orange', 'banana', 'kiwi']

In [ ]:
newlst.sort()
print(newlst)
newlst.sort(reverse=True)
print(newlst)

['banana', 'kiwi', 'mango', 'orange', 'pinaple']
['pinaple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
l1=["a","b","c","d"]
l2=[1,2,3,4]
l3=l1+l2
print(l3)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [ ]:
for x in l1:
  l2.append(x)
print(l2)

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [ ]:
l2.insert(1,"f")
print(l2)

[1, 'f', 2, 3, 4, 'a', 'b', 'c', 'd']

# **Tuple**

In [ ]:
tp= ("apple","banana","cherry")
print(tp)

('apple', 'banana', 'cherry')

In [ ]:
tp1 = (("apple","banana","cherry"),(1,2,3),(5,9,8))
print(tp1)

(('apple', 'banana', 'cherry'), (1, 2, 3), (5, 9, 8))

#tp1[0] not ="kiwi" i can not change item after created tuple
#if you want to change any item then you have to convert it to list **bold text**

In [ ]:
tp1 = ("apple","banana","cherry")
#tp1[0]="kiwi" i can not change item after created tuple
#if you want to change any item then you have to convert it to list
lst =  list(tp1)
lst[0]="kiwi"
tp1=tuple(lst)
print(tp1)

('kiwi', 'banana', 'cherry')

Add Items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple. **bold text**

In [ ]:
thistuple = ("apple", "banana", "cherry")
x=list(thistuple)
x.append("orange")
thistuple=tuple(x)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

  Remove item from tuple, but you can not directly remove from tuple, however here is the way you can convert it to list

In [ ]:
thistuple = ("apple", "banana", "cherry")
x=list(thistuple)
x.remove("apple")
thistuple=tuple(x)
print(thistuple)

('banana', 'cherry')

In [ ]:
#delete complete tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

**unpack tutples** means tuple item move to variable

In [ ]:
tpl2 = ("apple", "banana", "cherry")
x,y,z=tpl2
print(y)

banana

Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list: **bold text**

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Through a Tuple
**bold text**

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
for x in fruits:
  print(x)

# loop through by the index
print()
for i in range(len(fruits)):
  print(fruits[i])

apple
mango
papaya
pineapple
cherry

apple
mango
papaya
pineapple
cherry

In [ ]:
i=0
while(i<len(fruits)):
  print(fruits[i])
  i+=1

apple
mango
papaya
pineapple
cherry

In [ ]:
tp4 = ("a","b","c")
tp5=(1,2,3,4)
tp6=tp4+tp5
print(tp6)

('a', 'b', 'c', 1, 2, 3, 4)

In [ ]:
tp7=tp5*2
print(tp7)
print(tp7.count(3)) # how many times duplicate values are there

(1, 2, 3, 4, 1, 2, 3, 4)
2

# **Python Sets** : A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

* Note: Sets are unordered, so you cannot be sure in which order the items will appear.

* Once a set is created, you cannot change its items, but you can remove items and add new items.

* Duplicates Not Allowed- Sets cannot have two items with the same value.

* Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

* Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

* Set Items - Data Types ; Set items can be of any data type:

In [ ]:
sets = {"apple", "banana", "cherry"}
print(sets)

{'banana', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
cherry
apple

In [ ]:
print("banana" in thisset)
print("orange" in thisset)

True
False

# **Add Items**
Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

To add items from another set into the current set, use the update() method.it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
sset={"pineapple","mango"}
thisset.update(sset)
print(thisset)

{'pineapple', 'cherry', 'mango', 'orange', 'banana', 'apple'}

In [ ]:
sset={"pineapple","mango"}
listt=["pineapple","mango"]
thisset.update(sset,listt)
print(thisset)
#

{'pineapple', 'cherry', 'mango', 'orange', 'banana', 'apple'}

# Python - Remove Set Items
To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
thisset.remove("banana")
print(thisset)

{'pineapple', 'cherry', 'mango', 'orange', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset.clear()
print(thisset)

set()

In [ ]:
del thisset
print(thisset)
#

NameError: name 'thisset' is not defined

Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

**Union**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'Elena', 1, 2, 3, 'c', 'apple', 'bananas', 'b', 'cherry', 'a', 'John'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'Elena', 1, 2, 3, 'c', 'apple', 'bananas', 'b', 'cherry', 'a', 'John'}

In [ ]:
#Join a Set and a Tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 3, 'c', 'a'}

In [ ]:
#Join set1 and set2, but keep only the duplicates:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
#Use & to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
#Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
#Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [ ]:
#Keep all items from set1 that are not in set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'banana', 'cherry', 'google'}

In [ ]:
#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'microsoft', 'banana', 'cherry', 'google'}

In [ ]:
#Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'banana', 'cherry', 'google'}

Python frozenset
frozenset is an immutable version of a set.

Like sets, it contains unique, unordered, unchangeable elements.

Unlike sets, elements cannot be added or removed from a frozenset.

Creating a frozenset
Use the frozenset() constructor to create a frozenset from any iterable.

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

# **Python Dictionaries**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
thisdict = {
    "brand": "nova",
    "model": "nova7",
    "year": 2022
}
print(thisdict["brand"])

nova

In [ ]:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#Dictionary Items - Data Types
#The values in dictionary items can be of any data type:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
#Using the dict() method to make a dictionary:

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
dic = dict(name = "xyz", age=30, country="germany")
print(dic)

{'name': 'xyz', 'age': 30, 'country': 'germany'}

**Python - Access Dictionary Items**

In [ ]:
thisdict = {
    "brand": "BMW",
    "Model": "20285df",
    "Year": 199
}

print(thisdict["brand"])
x= thisdict.get("Model")
print(x)

BMW
20285df

**Get Keys**:
The keys() method will return a list of all the keys in the dictionary.

In [ ]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'Model', 'Year'])

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x=car.keys()
print(x)

car["color"]="Black"

print("Upated keys:", x)

print(car)

dict_keys(['brand', 'model', 'year'])
Upated keys: dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

Get Values
The values() method will return a list of all the values in the dictionary.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
print(x)
car["year"]=2020
print(x)

car["color"]="red"

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])
dict_values(['Ford', 'Mustang', 2020, 'red'])

Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()
print(x)

#before the change

car["year"]=2020

#after the change
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [ ]:
thisdict = {
    "brand": "BMW",
    "Model": "20285df",
    "Year": 1994
}

if "Model" in thisdict:
  print("Yes, 'Model' is one of the keys in the dic")

Yes, 'Model' is one of the keys in the dic

# **Change Values**

In [ ]:
dic = {
    "brand":"range rover",
    "model":"md2025",
    "year":2025
}

print(dic) #before update
dic["year"]=2027
print(dic)#after update

{'brand': 'range rover', 'model': 'md2025', 'year': 2025}
{'brand': 'range rover', 'model': 'md2025', 'year': 2027}

Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
dic = {
    "brand":"range rover",
    "model":"new2027",
    "year":2026
}

dic.update({"year":2027})
print(dic)

#add item

dic.update({"color":"red"})
print(dic)
#

{'brand': 'range rover', 'model': 'new2027', 'year': 2027}
{'brand': 'range rover', 'model': 'new2027', 'year': 2027, 'color': 'red'}

**Removing Items**

1.The pop() method removes the item with the specified key name:

2.The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

3.The del keyword removes the item with the specified key name:

In [ ]:
dic.pop("color")
print(dic)

{'brand': 'range rover', 'model': 'new2027', 'year': 2027}

In [ ]:
dic.popitem()
print(dic)
#

{'brand': 'range rover', 'model': 'new2027'}

In [ ]:
del dic["brand"]
print(dic)

{'model': 'new2027'}

In [ ]:
dic.clear()
print(dic)
#

{}

Loop Through a Dictionary

In [ ]:
dictt = {
    "Brand": "7sky",
    "Model": "New1",
    "Since": "2028",
    "Color": "Black"
}
for x in dictt:
  print(x) # output keys

Brand
Model
Since
Color

In [ ]:
#output values

for x in dictt:
  print(dictt[x])

7sky
New1
2028
Black

In [ ]:
# you can also use the values() method to return values of a dictionary

for x in dictt.values():
  print(x)

7sky
New1
2028
Black

In [ ]:
#you can use the keys() method to return the keys of a dictionary

for x in dictt.keys():
  print(x)

Brand
Model
Since
Color

In [ ]:
#Loop through both keys and values, by using the items() method

for x, y in dictt.items():
  print(x, y)

Brand 7sky
Model New1
Since 2028
Color Black

# Copy a Dictionary

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Make a copy of a dictionary with the dict() function:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# **Nested Dictionaries**

In [ ]:
#Create a dictionary that contain three dictionaries:
Myfamily = {
    "child1": {
        "name": "Emil",
        "year": 2004
    },
    "child2":{
        "name": "Tobias",
        "year": 2007
    },
    "child3":{
        "name": "Linus",
        "year": 2011
    }
}

print(Myfamily)
print(Myfamily["child1"])
print(Myfamily["child1"]["name"])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'name': 'Emil', 'year': 2004}
Emil

In [ ]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
    "name":"Emil",
    "year":2004
}
child2 = {
    "name":"Tobias",
    "year":2007
}
child3 = {
    "name":"Linus",
    "year":2011
}

myfamily = {
    "child1":child1,
    "child2":child2,
    "child3":child3
}

print(myfamily)
print(myfamily["child1"])
print(myfamily["child2"]["name"])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'name': 'Emil', 'year': 2004}
Tobias

Loop Through Nested Dictionaries
You can loop through a dictionary by using the items() method like this:

In [ ]:
#Loop through the keys and values of all nested dictionaries:

for key, value in myfamily.items():
  print(key)

  for v in value:
    print(v + ":", value[v])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

# **if...elif..else**

In [ ]:
a = 200
b = 33
if b>a:
  print("b is greater than a")
elif a==b:
  print("both are the same")
else: print("a is greater than b")

a is greater than b

Short Hand If

In [ ]:
a = 200
b = 33
if a>b: print("a is greater than b")

a is greater than b

In [ ]:
print("a is greater than b") if a> b else print("b is greater than a")

a is greater than b

**Assign a Value With If ... Else**

In [ ]:
a=20
b=30
bigger = a if a>b else b
print(bigger)

30

**Multiple Conditions on One Line**

In [ ]:
a=330
b=440
print("A") if a>b else print("=") if a==b else print("B")

B

In [ ]:
a=10
b=20
c=30
print("True")if c>b and c>a else print("False")

True

In [ ]:
print("True") if (a<b or a<c) and b>a else print("False")

True

In [ ]:
age=20
is_student=True
discout=False

if (age<18 or age>65) and not is_student or discout:
  print("Eligible for discount")
else:
  print("Not eligible for discount")

Not eligible for discount

In [ ]:
Tempature = 25
is_raining=False
is_weekend=True

if (Tempature>30 or not is_raining) and is_weekend:
  print("Great day for outdoor activities!)")

Great day for outdoor activities!)

In [ ]:
username="raj"
password="rajkhna"
is_verified=True

if username and password and is_verified:
  print("Login successful")
else:
  print("Login failed")

Login successful

In [ ]:
username="Emil"
password = 12345
is_active=True

if username:
  if password:
    if is_active:
      print("Login successful")
    else:
      print("Account is not active")
  else:
    print("password is required")
else:
  print("username is required")

Login successful

**Python match**

In [ ]:
day=4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print("Invalid day")

Thursday

In [ ]:
day=4
match day:
  case 1 | 2 | 3 | 4 | 5 :
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [ ]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

**WHile and for loop**

In [ ]:
i = 0
while i < 6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 0
while i<6:
  print(i)
  i+=1
else:
    print("i is no logner less than 6")

0
1
2
3
4
5
i is no logner less than 6

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in range(2,30,3):
  print(x)
else:
  print("Finally Finished")

2
5
8
11
14
17
20
23
26
29
Finally Finished

In [ ]:
list1 = ["red","green","white"]
list2 = ["apple","mango","cherry"]

for x in list1:
  for y in list2:
    print(x,y)

red apple
red mango
red cherry
green apple
green mango
green cherry
white apple
white mango
white cherry

In [ ]:
def my_function():
  print("hello i am a function")
my_function()

hello i am a function

In [ ]:
def function(f):
  return (f-32)*5/9
print(function(100))

37.77777777777778

In [ ]:
def fucn(a,b):
  print(a," ",b)
fucn("emil", "kabil")

emil   kabil

In [ ]:
def sendlist(slist):
  print(slist)
  for x in slist:
    print(x)

list1 = ["red","green","yellow"]
sendlist(list1)

['red', 'green', 'yellow']
red
green
yellow

In [ ]:
def returnlist():
  return [1,2,3,4,5,6]

my=returnlist()
print(my)

[1, 2, 3, 4, 5, 6]

In [ ]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

**nonlocal variable + nasted function**

In [ ]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

# **Python Decorators**
# A decorator is a function that takes another function and returns a new function.


# @changecase means exactly the same as: myfunction = changecase(myfunction)

In [ ]:
# This is a decorator function
# It takes another function as an argument
def changecase(func):

    # This is the inner (wrapper) function
    # It adds extra behavior to the original function
    def myinner():
        # Call the original function
        result = func()

        # Convert the returned text to uppercase
        return result.upper()

    # Return the inner function (NOT calling it)
    return myinner


# Applying the decorator to a function
# This means: myfunction = changecase(myfunction)
@changecase
def myfunction():
    # Original function returns a simple string
    return "Hello Sally"


# Calling the decorated function
# Actually, this calls myinner(), not the original myfunction()
print(myfunction())

HELLO SALLY

In [ ]:
def decoratorfuncion(func):
  def innerfunction():
    print("This is the decorator")
    result=func()
    return result.upper()
  return innerfunction


@decoratorfuncion
def mainfunction():
  return "Hello world"

print(mainfunction())

This is the decorator
HELLO WORLD

In [ ]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Hello Sally"

@changecase
def otherfunction():
  return "I am speed!"

print(myfunction())
print(otherfunction())

HELLO SALLY
I AM SPEED!

Arguments in the Decorated Function

In [ ]:

def changecase(func):
  def myinner(name):
    return func(name).upper()
  return myinner

@changecase
def myfunction(nam):
  return "hello " + nam
print(myfunction("Emil"))

HELLO EMIL

In [ ]:
def changecase(n):
  def changecase(func):
    def myinner():
      if n == 1:
        a = func().lower()
      else:
        a = func().upper()
      return a
    return myinner
  return changecase

@changecase(1)
def myfunction():
  return "Hello Linus"

print(myfunction())

hello linus

#*args and **kwargs

In [ ]:
def changecase(func):
  def myinner(*args, **kwargs):
    return func(*args, **kwargs).upper()
  return myinner

@changecase
def myfunction(nam):
  return "Hello " + nam

print(myfunction("John"))

HELLO JOHN

In [ ]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

def addgreeting(func):
  def myinner():
    return "Hello " + func() + " Have a good day!"
  return myinner

@changecase
@addgreeting
def myfunction():
  return "Tobias"

print(myfunction())

HELLO TOBIAS HAVE A GOOD DAY!

In [ ]:
import functools

def changecase(func):
  @functools.wraps(func)
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)

myfunction

# **Lambda Functions**

In [ ]:
x = lambda a : a+10
print(x(5))

15

In [ ]:
x = lambda a,b:a*b
print(x(5,6))

30

In [ ]:
x = lambda a,b,c:a+b+c
print(x(1,2,3))

6

**Why Use Lambda Functions?**
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def function(n):
  return lambda a : a * n

my = function(5)
print(my(6))

30

# **Lambda with Built-in Functions**
Lambda functions are commonly used with built-in functions like
# map(), filter(), and sorted().

Using Lambda with map()
The map() function applies a function to every item in an iterable:

In [ ]:
num = [1,2,3,4,5,6]

double = list(map(lambda x:x*2, num))
print(double)

[2, 4, 6, 8, 10, 12]

In [ ]:
num=[9,8,7,6,5,4,3]
double = list(filter(lambda x:x%2==0, num))
print("Even number", double)

Even number [8, 6, 4]

In [ ]:
students = [("limda",90),("lima",80),("alo",99)]
sort = sorted(students, key=lambda x:x[1])
print(sort)

[('lima', 80), ('limda', 90), ('alo', 99)]

In [ ]:
words = ["banana","apple","cherry"]
sort = sorted(words, key=lambda x:len(x))
print(sort)

['apple', 'banana', 'cherry']

# **Python Recursion**

In [ ]:
def recursivefun(n):
  if n<=0:
    print("Done!")
  else:
    print(n)
    return recursivefun(n-1)

recursivefun(5)

5
4
3
2
1
Done!

In [ ]:
def recursivesum(n):
  if n==0 or n==1:
    return 1
  else:
    return n * recursivesum (n-1)

print(recursivesum(5))

120

In [ ]:
def fibonaki(n):
  if n<=1:
    return n
  else:
    return fibonaki(n-1)+fibonaki(n-2)
print(fibonaki(7))

13

In [ ]:
def Functionlist(listt):
  if len(listt)==0:
    return 0
  else:
    return listt[0]+Functionlist(listt[1:])



list1 = [1,2,3,4,5]
print(Functionlist(list1))

15

# **Python Datetime**

In [ ]:
import datetime

x=datetime.datetime.now()
print(x)

2025-12-27 21:56:23.133592

In [ ]:
import datetime

x=datetime.datetime(2025,5,1)
print(x)

2025-05-01 00:00:00

The strftime() Method
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [ ]:
import datetime
x=datetime.datetime(2025,5,1)
print(x.strftime("%B"))

May

In [ ]:
x = min(7,5,9,3)
y = max(7,5,9,3)
print(x)
print(y)

l1=[4,5,6,1,2]
a =min(l1)
b=max(l1)
print(a)
print(b)

3
9
1
6

In [ ]:
x = abs(-565.524)
print(x)
y=pow(2,3)
print(y)

565.524
8

# The Math Module

In [ ]:
import math
x=math.sqrt(64)
print(x)

8.0

In [ ]:
x=math.ceil(1.4)
y=math.floor(1.4)
print(x,y)

2 1

In [ ]:
x=math.pi
print(x)

3.141592653589793

# **Python JSON**

JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation. **bold text**

**# JSON in Python**
**Python has a built-in package called json, which can be used to work with JSON data.**

**Convert from JSON to Python:**

In [ ]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

**Convert from Python to JSON:**

In [ ]:
import json
x={
    "name":"John",
    "age":30,
    "city":"New York"
}

y=json.dumps(x)
print(y)

{"name": "John", "age": 30, "city": "New York"}

You can convert Python objects of the following types, into JSON strings:

dict,
list,
tuple,
string,
int,
float,
True,
False,
None

![image.png]()

In [ ]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false

In [ ]:
#Convert a Python object containing all the legal data types:

import json

x={
    "name":"John",
    "age":30,
    "married":True,
    "divorced":False,
    "children":("Ann","Billy"),
    "pets":None,
    "cars":[
        {"model":"BMW 230",
         "mpg": 27.5
        },
        {"model": "Ford Edge",
         "mpg":24.1
        }
    ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

# Format the Result
The example above prints a JSON string, but it is not very easy to read, with no indentations and line breaks.

The json.dumps() method has parameters to make it easier to read the result: **bold text**

In [ ]:
print(json.dumps(x,indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

You can also define the separators, default value is (", ", ": "), which means using a comma and a space to separate each object, and a colon and a space to separate keys from value

Use the separators parameter to change the default separator:

In [ ]:
print(json.dumps(x,indent=4, separators=(".","=")))

{
    "name"="John".
    "age"=30.
    "married"=true.
    "divorced"=false.
    "children"=[
        "Ann".
        "Billy"
    ].
    "pets"=null.
    "cars"=[
        {
            "model"="BMW 230".
            "mpg"=27.5
        }.
        {
            "model"="Ford Edge".
            "mpg"=24.1
        }
    ]
}

**Order the Result**

In [ ]:
print(json.dumps(x,indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

# **Python RegEx**

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

Python has a built-in package called re, which can be used to work with Regular Expressions.

In [ ]:
#Search the string to see if it starts with "The" and ends with "Spain":

import re

txt = "The rain in Spain"
x=re.search("^The.*Spain$", txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [ ]:
# print a list of all matches using findall()

txt="The rain in Spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3440849899.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

In [ ]:
#Split at each white-space character:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-177422456.py:5: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

In [ ]:
#The sub() function replaces the matches with the text of your choice:

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-718040995.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt)

In [ ]:
#You can control the number of replacements by specifying the count parameter:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3546373295.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt, 2)

# **Python Try Except**

The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [ ]:
try:
  print(w)
except:
  print("An exception occurred")

An exception occurred

In [ ]:
try:
  print(w)
except NameError:
  print("Variable w is not defined")
except:
  print("Something else went wrong")

Variable w is not defined

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [ ]:
try:
  print(w)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [ ]:
try:
  f=open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

# **Raise an exception**

In [ ]:
x = -1
if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [ ]:
x="hello"
if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

# **Python String Formatting**
F-Strings
F-string allows you to format selected parts of a string.

To specify a string as an f-string, simply put an f in front of the string literal, like this:

In [ ]:
txt = f"The price is 49 dollars"
print(txt)

The price is 49 dollars

**Placeholders and Modifiers**
To format values in an f-string, add placeholders {}, a placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
#A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:


price = 59.56454
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.56 dollars

In [ ]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [ ]:
a=1.5
b=5.68
txt = f"The price is {a+b} dollars"
print(txt)

The price is 7.18 dollars

In [ ]:
x=55
txt = f"The price is {'Expensive' if x>50 else 'Cheap'} dollars"
print(txt)

The price is Expensive dollars

In [ ]:
#create a function that converts feet into meters
def myconverter(x):
  return x*0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [ ]:
#previous version used format() before python 3.6 f-string
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

#with index
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.
I want 3 pieces of item number 567 for 49.00 dollars.

In [ ]:
#Also, if you want to refer to the same value more than once, use the index number:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

# **Python User Input**

In [ ]:
name=input("Enter your name:")
print(f"Hello {name}")

Enter your name:Payel Miah
Hello Payel Miah

In [ ]:
import math
x=input("Enter a number:")
y=math.sqrt(float(x))
print(f"The square root of {x} is {y}")

Enter a number:9
The square root of 9 is 3.0

In [ ]:
y=True
while y==True:
  x=input("Enter a number:")
  try:
    x=float(x);
    y=False
  except:
    print("Wrong input, please try again")
print("Thank you")

Enter a number:k
Wrong input, please try again
Enter a number:10
Thank you

In [ ]:
try:
  x=float(input("Enter a number:"))
except:
  print("Invalid number")

Enter a number:10

# **Python Class**

In [ ]:
class Myclass:
  x=5

obj = Myclass()
print(obj.x)

5

In [ ]:
#The pass Statement class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.
class Person:
  pass

**Python __init__() Method**

All classes have a built-in method called __init__(), which is always executed when the class is being initiated.


The __init__() method is used to assign values to object properties, or to perform operations that are necessary when the object is being created.

In [ ]:
#Create a class without __init__():
class Person:
  pass

p1 = Person()
p1.name = "Tobias"
p1.age = 25

print(p1.name)
print(p1.age)

Tobias
25

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Emil", 36)

print(p1.name)
print(p1.age)

Emil
36

In [ ]:
class Person:
  def __init__(self, name, age=18):
    self.name = name
    self.age = age

p1 = Person("Emil")
p2 = Person("Tobias", 25)

print(p1.name, p1.age)
print(p2.name, p2.age)

Emil 18
Tobias 25

In [ ]:
class Person:
  def __init__(self, name, age, city, country):
    self.name = name
    self.age = age
    self.city = city
    self.country = country

obj = Person("John",25,"New York","USA")
print(obj.name, obj.age, obj.city, obj.country)

John 25 New York USA

**The self Parameter**

The self parameter is a reference to the current instance of the class.


It is used to access properties and methods that belong to the class.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def greet(self):
    print(f"Hello, my name is {self.name}")

  p1=Person("John", 36)
  p1.greet()

Hello, my name is John

In [ ]:
#self Does Not Have to Be Named "self" It does not have to be named self, you can call it whatever you like, but it has to be the first parameter of any method in the class:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age =- age
  def greet(abc):
    print(f"Hello, my name and age are {abc.name} and {abc.age}")

obj = Person("John", 36)
obj.greet()

Hello, my name and age are John and -36

In [ ]:
# call on method from another method using self

class Person:
  def __init__(self, name):
    self.name = name

  def greet(self):
    return "Hello, " + self.name

  def welcome(self):
    message = self.greet()
    print(message + "! Welcome to our website.")

p1 = Person("Tobias")
p1.welcome()

Hello, Tobias! Welcome to our website.

# **Python Class Properties**
Properties are variables that belong to a class. They store data for each object created from the class.

In [ ]:
class car:
  def __init__(self, brand, model, year):
    self.brand = brand
    self.model = model
    self.year = year


car1  = car("Porsche","GA30067", 2026)
print(car1.brand, car1.model, car1.year)

#update properties

car1.model = 30067

print(car1.brand, car1.model, car1.year)

#delete a properties

del car1.year
print(car1.year)

Porsche GA30067 2026
Porsche 30067 2026

AttributeError: 'car' object has no attribute 'year'

**Class Properties vs Object Properties**

In [ ]:
class Person:
  species = "human" # class property
  def __init__(self, name):
    self.name = name  # instance property

p1 = Person("Emil")
p2 = Person("Tobias")

print(p1.name, p1.species)
print(p2.name, p2.species)

Emil human
Tobias human

# **Methods with Parameters**

In [ ]:
class Calculator:
  def add(self,a,b):
    return a+b
  def multiply(self, a,b):
    return a*b

calc=Calculator()
print(calc.add(2,3))
print(calc.multiply(2,3))

5
6

In [ ]:
#method can access and modify properties using self
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def get_info(self):
    return f"{self.name} is {self.age} years old"

obj = Person("John", 36)
print(obj.get_info())

John is 36 years old

In [ ]:
# change properties
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def change(self):
    self.age = 5+self.age
    print(f"Happy birthday! you are now {self.age}")


obj = Person("John", 36)
obj.change()

Happy birthday! you are now 41

**he __str__() Method**

The __str__() method is a special method that controls what is returned when the object is printed:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return f"{self.name} is {self.age} years old"

obj = Person("John", 36)
print(obj)

John is 36 years old

Multiple Methods

In [ ]:
class Playlist:
  def __init__(self, name):
    self.name = name
    self.songs = []
  def add_song(self,song):
    self.songs.append(song)
    print(f"{song} has been added to {self.name}")
  def remove_song(self,song):
    self.songs.remove(song)
    print(f"{song} has been removed from {self.name}")
  def show_songs(self):
    print(f"Playlist '{self.name}' has the following songs:")
    for song in self.songs:
      print(f"- {song}")

my_playlist = Playlist("My Playlist")
my_playlist.add_song("Bohemian Rhapsody")
my_playlist.add_song("No time to die")
my_playlist.show_songs()

my_playlist.remove_song("Bohemian Rhapsody")
my_playlist.show_songs()

Bohemian Rhapsody has been added to My Playlist
No time to die has been added to My Playlist
Playlist 'My Playlist' has the following songs:
- Bohemian Rhapsody
- No time to die
Bohemian Rhapsody has been removed from My Playlist
Playlist 'My Playlist' has the following songs:
- No time to die

# **Python Inheritance**

Inheritance means one class (child) gets properties and methods from another class (parent).

In [ ]:
class Person:  # prarent class (or base class)
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def introduce(self):
    print(f"Hi, my name is {slef.name} and {self.age} years old")

class student(Person): # child class inherite the Person class
  def __init__(self, name, age, id):
    super().__init__(name, age)  #super function inherit all the method and properties from the the parents
    self.id = id
  def show_id(self):
    print(f"My id is {self.id}")
  def introduce(self):
    print(f"Hi, my name is {self.name} and {self.age} years old and my id is {self.id}")

obj = student("John", 36, 123)
obj.introduce()
obj.show_id()

Hi, my name is John and 36 years old and my id is 123
My id is 123

# **Python Encapsulation**

Polymorphism is often used in Class methods, where we can have multiple classes with the same method name.

In [ ]:
class playlist:
  def __init__(self, title):
    self.title=title
  def play(self):
    print("Playing item..")
class audio_playlist(playlist):
  def __init__(self, title):
    super().__init__(title)

  def play(self):
    print(f"Playing {self.title} audio song")
class video_playlist(playlist):
  def __init__(self, title):
    super().__init__(title)
  def play(self):
    print(f"Playing {self.title} video")
class podcast(playlist):
  def __init__(self, title):
    super().__init__(title)
  def play(self):
    print(f"Play {self.title} podcast")
audio = audio_playlist("My Audio")
audio.play()
video = video_playlist("My Video")
video.play()
podcst = podcast("My Podcast")
podcst.play()

Playing My Audio audio song
Playing My Video video
Play My Podcast podcast

In [ ]:
# much more clean code
class playlist:  #parent class
  def __init__(self, title):
    self.title=title
  def play(self):
    print("Playing Items..")

class audio_playlist(playlist): #child class
  def play(self):
    print(f"Playing {self.title} audio song")

class video_playlist(playlist):  # child class
  def play(self):
    print(f"Playing {self.title} video")

class podcast(playlist):
  def play(self):
    print(f"Playing {self.title} podcast")

audio = audio_playlist("My Audio")
audio.play()
video = video_playlist("My Video")
video.play()
podcast = podcast("My Podcast")
podcast.play()

Playing My Audio audio song
Playing My Video video
Playing My Podcast podcast

# **Python Encapsulation**

Bundling data and methods together and controlling access to that data.

Encapsulation is about protecting data inside a class.

It means keeping data (properties) and methods together in a class, while controlling how the data can be accessed from outside the class.

This prevents accidental changes to your data and hides the internal details of how your class works.

![Screenshot 2025-12-31 130756.png]()

In [ ]:
#Create a private class property named __age:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.__age = age # private property
obj = Person("John", 36)
print(obj.name)
print(obj.__age) # this will cause an error

John

AttributeError: 'Person' object has no attribute '__age'

![image.png]()

**Get Private Property Value **

(Use a getter method to access a private property:)

In [ ]:


class Person:
  def __init__(self, name, age):
    self.name = name
    self.__age = age

  def get__age(self):
    return self.__age

obj = Person("John", 36)
print(obj.name)
print(obj.get__age())

John
36

**Set Private Property Value**

To modify a private property, you can create a setter method.

The setter method can also validate the value before setting it:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.__age = age # private property

  def get__age(self): # use a getter method to access a private property
    return self.__age

  def set__age(self, age): # use a setter method to modify a private property
    self.__age = age if age > 0 and age<120 else print("Invalid age")

obj = Person(input("Enter name"), int(input("Enter age")))
print(obj.name)
print(obj.get__age())

Enter namejohn
Enter age36
john
36

In [ ]:
# using decorator you can use @property and @age.setter instead of writing get_age and set_age

class Person:
  def __init__(self, name, age):
    self.name = name
    self.__age = age # private property

  @property
  def age(self): # use a getter method to access a private property
    return self.__age

  @age.setter
  def age(self, age): # use a setter method to modify a private property
    self.__age = age if 0 <= age <= 120 else print("Invalid age")

obj = Person(input("Enter name: "), int(input("Enter age: ")))
print(obj.name)
print(obj.age)

Enter name: John
Enter age: 121
John
121

**Private Methods**

In [ ]:
class Calculator:
  def __init__(self):
    self.result = 0

  def __validate(self, num):
    if not isinstance(num, (int, float)):
      return False
    return True

  def add(self, num):
    if self.__validate(num):
      self.result += num
    else:
      print("Invalid number")

calc = Calculator()
calc.add(10)
calc.add(5)
print(calc.result)
# calc.__validate(5) # This would cause an error

15

# **Python Inner Classes**

An inner class is a class defined inside another class. The inner class can access the properties and methods of the outer class.

Inner classes are useful for grouping classes that are only used in one place, making your code more organized.

In [ ]:
class outer:
  def __init__(self):
    self.name = "Outer"

  class inner:
    def __init__(self):
      self.name = "Inner"

    def display(self):
      print("Hello from inner class")

outr = outer()
innr = outer.inner()
innr.display()

Hello from inner class

Accessing Outer Class from Inner Class
Inner classes in Python do not automatically have access to the outer class instance.

If you want the inner class to access the outer class, you need to pass the outer class instance as a parameter:

In [ ]:
class car: # Outer class
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model
    self.engine = self.Engine()  # access into engine class from outer class

  class Engine: # Inner class
    def __init__(self):
      self.status = "Off"

    def start(self):
      self.status = "Running"
      print("Engine started")

    def stop(self):
      self.status = "Off"
      print("Engine stopped")

  def drive(self):
    print("Engine is Off" if self.engine.status == "Off" else "Engine is Running")

car = car("Toyota", "Camry")
car.engine.start()
car.drive()

Engine started
Engine is Running

In [ ]:
# create multiple inner classes

class computer:
  def __init__(self):
    self.cpu = self.CPU()
    self.ram = self.RAM()

  class CPU:
    def processor(self):
      print("Processing data..")

  class RAM:
    def store(self):
      print("Storing data..")


obj = computer()
obj.cpu.processor()
obj.ram.store()

Processing data..
Storing data..

# **You are building a library management system using oop concept**

In [ ]:
class LibraryItem: #base class
  def __init__(self, title): # constructor
    self.__title = title  # private property
    #self.id_number = self.ItemID() # access inner class

  @property         # use getter method to access private property
  def title(self):
    return self.__title   # getter return values
  @title.setter     # use setter method to modify private property
  def title(self, title):  # setter assign values
    if title.strip()=="":
      print("Invalid title")
    else:
      self.__title = title


  def __log_access(self): # use private method
    print(f"Access logged for {self.title}")

  def display_info(self):  # use method to display
    print(f"Title: {self.title}")
    self.__log_access()
    #print(f"Title: {self.__title}")

  """
  class ItemID:   # Inner class
    def __init__(self, id):
      self.__id = id

    def add_id(self, id):
      self.__id.append(id)

    def show_id(self):
      print(self.__id) """




class Book(LibraryItem):  # child class inherit to parent/base class
  def __init__(self, title, author):  # constructor
    super().__init__(title)   #use super to access parent properties
    self.__author = author

  @property
  def author(self):
    return self.__author

  def display_info(self):  # override method but different behavior
    super().display_info()
    print(f"Author: {self.author}")

class Magazine(LibraryItem):  # child class inherit to parent/base class
  def __init__(self, title, issue_number): # constructor
    super().__init__(title)     # use super to access parent class properties
    self.__issue_number = issue_number

  @property
  def issue_number(self):
    return self.__issue_number

  def display_info(self): # override method to use diffent output
    super().display_info()
    print(f"Issue Number: {self.issue_number}")


libertyitem = LibraryItem("Proggramming language")
libertyitem.display_info()
print("\n")
bokk= Book("Python", "John")
bokk.display_info()
print("\n")
magazine = Magazine("BBC", 1)
magazine.display_info()

Title: Proggramming language
Access logged for Proggramming language


Title: Python
Access logged for Python
Author: John


Title: BBC
Access logged for BBC
Issue Number: 1

In [ ]:
# =============================
# Base Class
# =============================
class LibraryItem:
    def __init__(self, title):
        # Private attribute (encapsulation)
        self.__title = title

        # Creating an inner class object
        self.item_id = self.ItemID(1001)

    # -------------------------
    # Getter (read access)
    # -------------------------
    @property
    def title(self):
        return self.__title

    # -------------------------
    # Setter (write access)
    # -------------------------
    @title.setter
    def title(self, title):
        if title.strip() == "":
            print("Invalid title")
        else:
            self.__title = title

    # -------------------------
    # Private method
    # -------------------------
    def __log_access(self):
        print("Access logged for item")

    # -------------------------
    # Method to be overridden
    # -------------------------
    def display_info(self):
        print(f"Title: {self.title}")
        self.__log_access()
        self.item_id.show_id()

    # =============================
    # Inner Class
    # =============================
    class ItemID:
        def __init__(self, id_number):
            self.__id_number = id_number

        def show_id(self):
            print(f"Item ID: {self.__id_number}")


# =============================
# Child Class: Book
# =============================
class Book(LibraryItem):
    def __init__(self, title, author):
        # Call parent constructor
        super().__init__(title)
        self.__author = author

    @property
    def author(self):
        return self.__author

    # Method overriding (polymorphism)
    def display_info(self):
        super().display_info()
        print(f"Author: {self.__author}")


# =============================
# Child Class: Magazine
# =============================
class Magazine(LibraryItem):
    def __init__(self, title, issue_number):
        super().__init__(title)
        self.__issue_number = issue_number

    @property
    def issue_number(self):
        return self.__issue_number

    # Method overriding (polymorphism)
    def display_info(self):
        super().display_info()
        print(f"Issue Number: {self.__issue_number}")


# =============================
# Polymorphism in action
# =============================
items = [
    LibraryItem("Programming Language"),
    Book("Python", "John"),
    Magazine("BBC", 1)
]

for item in items:
    item.display_info()
    print()

Title: Programming Language
Access logged for item
Item ID: 1001

Title: Python
Access logged for item
Item ID: 1001
Author: John

Title: BBC
Access logged for item
Item ID: 1001
Issue Number: 1

In [ ]:
class LibraryItem:
  def __init__(self, title):
    self.__title = title
    self.id_number = self.ItemID(1001)

  @property
  def title(self):
    return self.__title

  @title.setter
  def title(self, title):
    if title.strip() == "":
      print("Invalid title")
    else:
      self.__title = title

  def display_info(self):
    print(f"Title: {self.__title}")
    self.__log__access()
    self.id_number.show_id()

  def __log__access(self):
    print(f"Access logged for {self.__title}")

  class ItemID:
    def __init__(self, id):
      self.id=id
    def show_id(self):
      print(f"Item ID: {self.id}")

class Book(LibraryItem):
  def __init__(self, title, author):
    super().__init__(title)
    self.__author = author

  @property
  def author(self):
    return self.__author

  def display_info(self):
    super().display_info()
    print(f"Author: {self.__author}")

class Magazine(LibraryItem):
  def __init__(self, title, issue_number):
    super().__init__(title)
    self.__issue_number = issue_number

  @property
  def issue_number(self):
    return self.__issue_number

  def display_info(self):
    super().display_info()
    print(f"Issue Number: {self.__issue_number}")



list1 = [
  LibraryItem("Science books"),
  Book("Physics","einstain"),
  Magazine("BBC", 123)
]

for item in list1:
  item.display_info()
  print()

Title: Science books
Access logged for Science books
Item ID: 1001

Title: Physics
Access logged for Physics
Item ID: 1001
Author: einstain

Title: BBC
Access logged for BBC
Item ID: 1001
Issue Number: 123

Problem Statement: Online Payment System

![image.png]()

In [ ]:
class Payment:
  def __init__(self, amount):
    self.__amount = amount
    self.transaction_id = self.Transaction(1001)

  @property
  def amount(self):
    return self.__amount

  @amount.setter
  def amount(self, amount):
    if amount <= 0:
      raise ValueError("Invalid amount")
    else:
      self.__amount = amount

  def process_payment(self):
    print("Processing payment...")
    self.__validate_payment()
    self.transaction_id.show_transaction()

  def __validate_payment(self):
    if self.__amount > 0:
      print("Payment validated")
    else:
      print("Invalid payment amount")


  class Transaction:
    def __init__(self, transaction_id):
      self.__transaction_id = transaction_id

    def show_transaction(self):
      print(f"Transaction ID: {self.__transaction_id}")

class CreditCardPayment(Payment):
  def __init__(self, amount, card_number):
    super().__init__(amount)
    self.__card_number = card_number


  @property
  def card_number(self):
    return self.__card_number

  def process_payment(self):
    super().process_payment()
    print("Credit card payment processed")

class PayPalPayment(Payment):
  def __init__(self, amount, email):
    super().__init__(amount)
    self.__email = email

  @property
  def email(self):
    return self.__email

  def process_payment(self):
    super().process_payment()
    print("PayPal payment processed")



polylist = [
    Payment(100),
  CreditCardPayment(200, "1234567890"),
    PayPalPayment(300, "william@gmail.com")
]

for payment in polylist:
  payment.process_payment()
  print()

Processing payment...
Payment validated
Transaction ID: 1001

Processing payment...
Payment validated
Transaction ID: 1001
Credit card payment processed

Processing payment...
Payment validated
Transaction ID: 1001
PayPal payment processed

# **File Handling**
![image.png]()

In [ ]:
f = open("demofile.txt")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

In [ ]:
f = open("D:\\myfiles\welcome.txt")
print(f.read())

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
/tmp/ipython-input-662506650.py:1: SyntaxWarning: invalid escape sequence '\w'
  f = open("D:\\myfiles\welcome.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\myfiles\\welcome.txt'

In [ ]:
with open("demofile.txt") as f:
  print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

In [ ]:
f = open("demofile.txt")
print(f.readline())
f.close()

**Python File Write**

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

In [ ]:

with open("demofile.txt", "a") as f:
  f.write("Now the file has more content!")

#open and read the file after the appending:
with open("demofile.txt") as f:
  print(f.read())

In [ ]:
#Create a new file called "myfile.txt":
f = open("myfile.txt", "x")

In [ ]:
#Python Delete File
import os
os.remove("demofile.txt")

In [1]:
import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

The file does not exist